<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>register</title>
    <link rel="stylesheet" href="styles/styles.css" />
  </head>
  <body>
    <form action="/submit" method="POST">
      <input
        type="text"
        id="name"
        name="name"
        placeholder="Enter your name"
        required
      />
      <button type="submit">Submit</button>
    </form>
    <footer>
      <div class="bottom-container">
        <div class="bottom-col-1 bottom-col">
          <h4>@JOHNSON KONDE</h4>
        </div>
        <div class="bottom-col-2 bottom-col"><h4>@<%= Year %></h4></div>
      </div>
    </footer>
  </body>
  <script src="/js/script.js"></script>
</html>
